<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container">Test Dynamic Socket Connection</h1>
  </div>
  <div class="main">
    <pre id="socket-response"></pre>
  </div>
</div>