<div class="default-page">
	<div class="header">
		<h1 id="main-title" class="container">Test Dynamic Socket Connection</h1>
	</div>

	<br />

	<div class="main">
		<h2>Connection Data</h2>
		<pre id="connect-data"></pre>

		<br />
		<br />

		<h2>Socket Response Data</h2>
		<pre id="socket-response"></pre>
	</div>
</div>