<!DOCTYPE html>
<html lang="en">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


        <!--STYLES-->
        <link rel="stylesheet" href="/styles/animate.min.css">
        <link rel="stylesheet" href="/styles/bootstrap.css">
        <link rel="stylesheet" href="/styles/cubeportfolio.min.css">
        <link rel="stylesheet" href="/styles/custom.css">
        <link rel="stylesheet" href="/styles/dzsparallaxer.css">
        <link rel="stylesheet" href="/styles/fontawesome-all.min.css">
        <link rel="stylesheet" href="/styles/front.css">
        <link rel="stylesheet" href="/styles/hs.megamenu.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <link rel="stylesheet" href="/styles/jquery.fancybox.css">
        <link rel="stylesheet" href="/styles/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" href="/styles/slick.css">
        <!--STYLES END-->
    </head>

    <body>
	
    <%- body %>

		<!--SCRIPTS-->
		<script src="/js/dependencies/sails.io.js"></script>
		<script src="/js/dependencies/jquery-3.2.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/dzsparallaxer.js"></script>
		<script src="/js/hs.core.js"></script>
		<script src="/js/hs.cubeportfolio.js"></script>
		<script src="/js/hs.fancybox.js"></script>
		<script src="/js/hs.focus-state.js"></script>
		<script src="/js/hs.go-to.js"></script>
		<script src="/js/hs.header.js"></script>
		<script src="/js/hs.malihu-scrollbar.js"></script>
		<script src="/js/hs.megamenu.js"></script>
		<script src="/js/hs.scroll-effect.js"></script>
		<script src="/js/hs.scroll-nav.js"></script>
		<script src="/js/hs.show-animation.js"></script>
		<script src="/js/hs.slick-carousel.js"></script>
		<script src="/js/hs.sticky-block.js"></script>
		<script src="/js/hs.unfold.js"></script>
		<script src="/js/hs.validation.js"></script>
		<script src="/js/hs.video-player.js"></script>
		<script src="/js/jquery-migrate.min.js"></script>
		<script src="/js/jquery.cubeportfolio.min.js"></script>
		<script src="/js/jquery.fancybox.min.js"></script>
		<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.validate.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/slick.js"></script>
		<script src="/js/typed.min.js"></script>
		<!--SCRIPTS END-->
		
		<script type="text/javascript">
			// Socket Connections
			io.sails.url = "<%- sails.config.API_HOST %>";
			
			$(document).ready(function(){
			
				// URL route is /sdk/advert/connect/:gameId/:gameAssetId
				io.socket.get('/sdk/advert/connect/57a776af-2dfd-4f1f-85bd-c065c8d14f34/1', function (resData) {
					$("#connect-data").html(JSON.stringify(resData));
				});

				io.socket.on('advert', function onServerSentEvent (msg) {
					$("#socket-response").html(JSON.stringify(msg));
				});
				
			});
		</script>
		

    </body>
</html>
